[{country: "AF", date:"21 December - 20 December"},
{country: "AL", date:"calendar year"},
{country: "AG", date:"calendar year"},
{country: "AQ", date:"1 October - 30 September"},
{country: "AN", date:"calendar year"},
{country: "AO", date:"calendar year"},
{country: "AV", date:"1 April - 31 March"},
{country: "AC", date:"1 April - 31 March"},
{country: "AR", date:"calendar year"},
{country: "AM", date:"calendar year"},
{country: "AA", date:"calendar year"},
{country: "AS", date:"1 July - 30 June"},
{country: "AU", date:"calendar year"},
{country: "AJ", date:"calendar year"},
{country: "BF", date:"1 July - 30 June"},
{country: "BA", date:"calendar year"},
{country: "BG", date:"1 July - 30 June"},
{country: "BB", date:"1 April - 31 March"},
{country: "BO", date:"calendar year"},
{country: "BE", date:"calendar year"},
{country: "BH", date:"1 April - 31 March"},
{country: "BN", date:"calendar year"},
{country: "BD", date:"1 April - 31 March"},
{country: "BT", date:"1 July - 30 June"},
{country: "BL", date:"calendar year"},
{country: "BK", date:"calendar year"},
{country: "BC", date:"1 April - 31 March"},
{country: "BR", date:"calendar year"},
{country: "VI", date:"1 April - 31 March"},
{country: "BX", date:"1 April - 31 March"},
{country: "BU", date:"calendar year"},
{country: "UV", date:"calendar year"},
{country: "BM", date:"1 April - 31 March"},
{country: "BY", date:"calendar year"},
{country: "CV", date:"calendar year"},
{country: "CB", date:"calendar year"},
{country: "CM", date:"1 July - 30 June"},
{country: "CA", date:"1 April - 31 March"},
{country: "CJ", date:"1 April - 31 March"},
{country: "CT", date:"calendar year"},
{country: "CD", date:"calendar year"},
{country: "CI", date:"calendar year"},
{country: "CH", date:"calendar year"},
{country: "KT", date:"1 July - 30 June"},
{country: "CK", date:"1 July - 30 June"},
{country: "CO", date:"calendar year"},
{country: "CN", date:"calendar year"},
{country: "CG", date:"calendar year"},
{country: "CF", date:"calendar year"},
{country: "CW", date:"1 April - 31 March"},
{country: "CS", date:"calendar year"},
{country: "IV", date:"calendar year"},
{country: "HR", date:"calendar year"},
{country: "CU", date:"calendar year"},
{country: "CY", date:"calendar year"},
{country: "EZ", date:"calendar year"},
{country: "DA", date:"calendar year"},
{country: "DJ", date:"calendar year"},
{country: "DO", date:"1 July - 30 June"},
{country: "DR", date:"calendar year"},
{country: "EC", date:"calendar year"},
{country: "EG", date:"1 July - 30 June"},
{country: "ES", date:"calendar year"},
{country: "EK", date:"calendar year"},
{country: "ER", date:"calendar year"},
{country: "EN", date:"calendar year"},
{country: "WZ", date:"1 April - 31 March"},
{country: "ET", date:"8 July - 7 July"},
{country: "EE", date:"NA"},
{country: "FK", date:"1 April - 31 March"},
{country: "FO", date:"calendar year"},
{country: "FJ", date:"calendar year"},
{country: "FI", date:"calendar year"},
{country: "FR", date:"calendar year"},
{country: "FP", date:"calendar year"},
{country: "GB", date:"calendar year"},
{country: "GA", date:"calendar year"},
{country: "GZ", date:"calendar year"},
{country: "GG", date:"calendar year"},
{country: "GM", date:"calendar year"},
{country: "GH", date:"calendar year"},
{country: "GI", date:"1 July - 30 June"},
{country: "GR", date:"calendar year"},
{country: "GL", date:"calendar year"},
{country: "GJ", date:"calendar year"},
{country: "GQ", date:"1 October - 30 September"},
{country: "GT", date:"calendar year"},
{country: "GK", date:"calendar year"},
{country: "GV", date:"calendar year"},
{country: "PU", date:"calendar year"},
{country: "GY", date:"calendar year"},
{country: "HA", date:"1 October - 30 September"},
{country: "VT", date:"calendar year"},
{country: "HO", date:"calendar year"},
{country: "HK", date:"1 April - 31 March"},
{country: "HU", date:"calendar year"},
{country: "IC", date:"calendar year"},
{country: "IN", date:"1 April - 31 March"},
{country: "ID", date:"calendar year"},
{country: "IR", date:"21 March - 20 March"},
{country: "IZ", date:"calendar year"},
{country: "EI", date:"calendar year"},
{country: "IM", date:"1 April - 31 March"},
{country: "IS", date:"calendar year"},
{country: "IT", date:"calendar year"},
{country: "JM", date:"1 April - 31 March"},
{country: "JA", date:"1 April - 31 March"},
{country: "JE", date:"1 April - 31 March"},
{country: "JO", date:"calendar year"},
{country: "KZ", date:"calendar year"},
{country: "KE", date:"1 July - 30 June"},
{country: "KR", date:"NA"},
{country: "KN", date:"calendar year"},
{country: "KS", date:"calendar year"},
{country: "KU", date:"1 April - 31 March"},
{country: "KG", date:"calendar year"},
{country: "LA", date:"1 October - 30 September"},
{country: "LG", date:"calendar year"},
{country: "LE", date:"calendar year"},
{country: "LT", date:"1 April - 31 March"},
{country: "LI", date:"calendar year"},
{country: "LY", date:"calendar year"},
{country: "LS", date:"calendar year"},
{country: "LH", date:"calendar year"},
{country: "LU", date:"calendar year"},
{country: "MC", date:"calendar year"},
{country: "MA", date:"calendar year"},
{country: "MI", date:"1 July - 30 June"},
{country: "MY", date:"calendar year"},
{country: "MV", date:"calendar year"},
{country: "ML", date:"calendar year"},
{country: "MT", date:"calendar year"},
{country: "RM", date:"1 October - 30 September"},
{country: "MR", date:"calendar year"},
{country: "MP", date:"1 July - 30 June"},
{country: "MX", date:"calendar year"},
{country: "FM", date:"1 October - 30 September"},
{country: "MD", date:"calendar year"},
{country: "MN", date:"calendar year"},
{country: "MG", date:"calendar year"},
{country: "MJ", date:"calendar year"},
{country: "MH", date:"1 April - 31 March"},
{country: "MO", date:"calendar year"},
{country: "MZ", date:"calendar year"},
{country: "WA", date:"1 April - 31 March"},
{country: "NR", date:"1 July - 30 June"},
{country: "NP", date:"16 July - 15 July"},
{country: "NL", date:"calendar year"},
{country: "NC", date:"calendar year"},
{country: "NZ", date:"1 April - 31 March"},
{country: "NU", date:"calendar year"},
{country: "NG", date:"calendar year"},
{country: "NI", date:"calendar year"},
{country: "NE", date:"1 April - 31 March"},
{country: "NF", date:"1 July - 30 June"},
{country: "MK", date:"calendar year"},
{country: "CQ", date:"1 October - 30 September"},
{country: "NO", date:"calendar year"},
{country: "MU", date:"calendar year"},
{country: "PK", date:"1 July - 30 June"},
{country: "PS", date:"1 October - 30 September"},
{country: "PM", date:"calendar year"},
{country: "PP", date:"calendar year"},
{country: "PA", date:"calendar year"},
{country: "PE", date:"calendar year"},
{country: "RP", date:"calendar year"},
{country: "PC", date:"1 April - 31 March"},
{country: "PL", date:"calendar year"},
{country: "PO", date:"calendar year"},
{country: "RQ", date:"1 July - 30 June"},
{country: "QA", date:"1 April - 31 March"},
{country: "RO", date:"calendar year"},
{country: "RS", date:"calendar year"},
{country: "RW", date:"calendar year"},
{country: "SH", date:"1 April - 31 March"},
{country: "SC", date:"calendar year"},
{country: "ST", date:"1 April - 31 March"},
{country: "SB", date:"calendar year"},
{country: "VC", date:"calendar year"},
{country: "WS", date:"June 1 - May 31"},
{country: "SM", date:"calendar year"},
{country: "TP", date:"calendar year"},
{country: "SA", date:"calendar year"},
{country: "SG", date:"calendar year"},
{country: "SE", date:"calendar year"},
{country: "SL", date:"calendar year"},
{country: "SN", date:"1 April - 31 March"},
{country: "LO", date:"calendar year"},
{country: "SI", date:"calendar year"},
{country: "BP", date:"calendar year"},
{country: "SO", date:"NA"},
{country: "SF", date:"1 April - 31 March"},
{country: "SP", date:"calendar year"},
{country: "CE", date:"calendar year"},
{country: "SU", date:"calendar year"},
{country: "NS", date:"calendar year"},
{country: "SW", date:"calendar year"},
{country: "SZ", date:"calendar year"},
{country: "SY", date:"calendar year"},
{country: "TW", date:"calendar year"},
{country: "TI", date:"calendar year"},
{country: "TZ", date:"1 July - 30 June"},
{country: "TH", date:"1 October - 30 September"},
{country: "TT", date:"calendar year"},
{country: "TO", date:"calendar year"},
{country: "TL", date:"1 April - 31 March"},
{country: "TN", date:"1 July - 30 June"},
{country: "TD", date:"1 October - 30 September"},
{country: "TS", date:"calendar year"},
{country: "TU", date:"calendar year"},
{country: "TX", date:"calendar year"},
{country: "TK", date:"calendar year"},
{country: "TV", date:"calendar year"},
{country: "UG", date:"1 July - 30 June"},
{country: "UP", date:"calendar year"},
{country: "AE", date:"calendar year"},
{country: "UK", date:"6 April - 5 April"},
{country: "US", date:"1 October - 30 September"},
{country: "UY", date:"calendar year"},
{country: "UZ", date:"calendar year"},
{country: "NH", date:"calendar year"},
{country: "VE", date:"calendar year"},
{country: "VM", date:"calendar year"},
{country: "VQ", date:"1 October - 30 September"},
{country: "WF", date:"calendar year"},
{country: "WE", date:"calendar year"},
{country: "WI", date:"calendar year"},
{country: "YM", date:"calendar year"},
{country: "ZA", date:"calendar year"},
{country: "ZI", date:"calendar year"},
]
